@media (min-width: 1200px){
	.bouton-radio
{
	width:200px;
}
.carousel-show
{
	
}
}
@media (min-width: 992px)  and (max-width: 1200px) {
	.bouton-radio
{
	width:200px;
}
.carousel-show
{
	
}

}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.bouton-radio
{
	width:200px;
}
.carousel-show
{
	
} 

}

@media screen and (max-width: 768px)
{
.bouton-radio
{
	width:100%;
}
.carousel-show
{
	display:none;
	
}
}
.grille-1
{
	width:42.5%;
	margin: 5px 2.5% 5px 5%;
	background-color:#00C;
	height:20px;
	float:left;
}
.grille-2
{
	width:42.5%;
	margin: 5px 5% 5px 2.5%;
	background-color:#3C9;
	height:20px;
	float:right;
}

.grille-content
{   
	padding:15px;
	background-color: #f8f8ef;
	margin-top:30px;
	margin-bottom:30px;
	border-radius:5px;
	border:2px solid #d7d5d5;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
}
.grille-content-2
{
	margin-top:30px;
	margin-bottom:30px;
	background-color: #f8f8ef;
	border-radius:5px;
	border:2px solid #d7d5d5;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
}
.grille-question-centent:last-child
{
	border:none;
}
.grille-question-centent
{
	clear:both;
	overflow:hidden;
	background-color:#f8f8ee;
	border-bottom: solid 2px #CCCCCC;
}
.grille-question-rond
{
	text-align:center;
	float:left;
	width:80px;
	padding-right:10px;
	margin-top:15px;
	margin-bottom:15px;
	
}
.grille-question-txt
{
	margin-top:15px;
	margin-bottom:15px;
	margin-left:80px;
	margin-right:100px;
}
.grille-question-det
{
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
	padding-left:10px;
	float:right;
	width:100px;
}
.rond-point
{
	background: linear-gradient( to top, #E0E0E0,#FFF);
	border-radius:30px;
	margin-right:auto;
	margin-left:auto;
	width:60px;
	height:60px;
	border: solid 1px #999999;
	text-align:center;
	line-height:60px;	
}
.bouton-repondre
{
	background: linear-gradient( to top, #bfbfbf,#fbfbfb);
	border-radius:3px;
	border-color: #999;
	border-width:1px;
	background-color: #CCC;
	width:80px;
	height:25px;
	line-height:12px;
	background: -webkit-linear-gradient( ... );
     background:    -moz-linear-gradient( ... ); 
     background:     -ms-linear-gradient( ... );
     background:      -o-linear-gradient( ... );
     background:         linear-gradient( ... );
	
}


.grille-info
{
	
	background-image:url(../img/bouton-2.png);
	background-repeat:repeat-x;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
	vertical-align:middle;
	height:47px;
}
.cook-btn2
{
	font-family:Cookie;
	font-size:32px;
	line-height:47px;
	color:#FFF;
	
}
