<<<<<<< HEAD
@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
=======
@font-face {
    font-family: 'Centrale';
    src: url(../fonts/Centrale.eot);
    src: url(../fonts/Centrale.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Centrale.woff) format('woff'),
         url(../fonts/Centrale.ttf) format('truetype'),
         url(../fonts/Centrale.svg#centrale) format('svg');
    font-weight: normal;
    font-style: normal;
>>>>>>> 58610be9ef44f1134887e65c62b51375358e2b95
}

.cookie-title
{
    font-family: centrale;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 40px;
}