@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
}


.contenu-description {
	margin: 0 20px;
}

.cookie-title h1 {
	font-family: centrale;
	margin-top: 0px;
}

.contenu-comment {
	font-family: centrale;
	margin-left: 70px;
	margin-right: 70px;
}

.contenu-comment h2 {
	font-family: centrale;
	font-size: 1.8em;
}