@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
}

.cadre-general {
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 30px;
}


.contenu-description {
	margin: 0 20px;
}

.cookie-title h1 {
	font-family: centrale;
	margin-top: 0px;
}

.contenu-comment {
	font-family: centrale;
}

.title-comment {
	font-family: centrale;
}

.contenu-comment h2 {
	font-size: 1.8em;
	color: #559aa9;
}

.contenu-comment h3 {
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 15px;
	font-style: italic;
	color: #e37151;
}

.dem-rep {
	width: 860px;
	height: 130px;
	position: relative;
}

.dem-howto {
	width: 100%;
	position: absolute;
}

.rep-howto {
	width: 100%;
	position: absolute;
}

.contenu-comment h4 {
	font-family: centrale;
	font-size: 1.3em;
}

.contenu-comment .glyphicon {
	margin-right: 10px;
}

.prec-img {
	margin-bottom: 0;
}

.up-down {
	width: 10%;
	margin: 0 auto;
	display: block;
}

.second-title {
	margin-top: 30px;	
}

.valid {
	display: block;
	width: 50px;
	margin: 10px auto;
}

.div-valid {
	display: block;
	margin: 0 auto;
	width: 150px;
}

.div-valid-1 {
	float: left;
	width: 47.5%;
	margin-right: 2.5%;
}

.div-valid-2 {
	float: right;
	width: 47.5%;
	margin-left: 2.5%;
}

.contenu-comment h5 {
	font-family: centrale;
	color: #559aa9;
}