@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
}

.grille-1
{
    width:15%;
    margin: 3px 2.5% 3px 5%;
    /*background-color:#00C;*/
    /*height:20px;*/
    float:left;
    text-align: right;
}
.grille-2
{
    width:40%;
    margin: 3px 30% 3px 2.5%;
    /*background-color:#3C9;*/
    height:20px;
    float:left;
}
.grille-1.pref
{
    width:50%;
    margin: 3px 3% 3px 5%;
    /*background-color:#00C;*/
    /*height:20px;*/
    float:left;
    text-align: left;
    
}
.grille-2.pref
{
    width:40%;
    margin: 3px 1% 3px 1%;
    /*background-color:#3C9;*/
    height:20px;
    float:right;
}

.grille-1-reinitialisation{
    width:35%;
    margin: 3px 2.5% 3px 12.5%;
    /*background-color:#00C;*/
    /*height:20px;*/
    float:left;}

.grille-2-reinitialisation
{
    width:35%;
    margin: 3px 12.5% 3px 2.5%;
    /*background-color:#3C9;*/
    height:20px;
    float:right;
}

.grille-content
{
    padding:15px;
    background-color: #f8f8ef;
    margin-top:10px;
    margin-bottom:5px;
    border-radius:7px;
    -webkit-box-shadow: 0 0 20px  #CCCCCC;
    -moz-box-shadow: 0 0 20px  #CCCCCC;
    box-shadow: 0 0 20px  #CCCCCC;
}

.forminfo
{
    height: 130%;
    line-height: 13px;
    padding-left: 10px;
}

.label-radio
{
    font-weight: normal;
    margin-right: 1.2em;
}

.label-normal
{
    font-weight: normal;
    font-size: 13px;
}

.bouton-bas-block
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.premiere-ligne
{
    margin-top: 2em;
}

.infos-date
{
    margin-right: 0.3em; 
}

.cookie-title
{
    font-family: centrale;
    font-size: 40px;
    margin-bottom: 15px;
}

.description{

    margin:15px auto;
}
.description p {
    font-size: 1.2em;
    text-align: center;
    font-family: centrale;
    

}

.panneau-bas
{
    margin-bottom:20px; 
}

.erreur{
    
    color:red;
    
}
.cadre-general {
	margin: 20px 0;
}

.cleared{
    clear:both;
}

.btn-marge{
    margin:10px;
}

.text-area{
    height: auto;
    
}

.dotation{
    height:auto;
    width:auto;
    
}

.confirmation{

    font-size: 1.1em;
    font-weight: normal;
    font-family: centrale;
}

.bouton-com-rep
{
	background: linear-gradient( to top, #68ae28, #aed664);
	background: -webkit-linear-gradient( ... );
    background:    -moz-linear-gradient( ... ); 
    background:     -ms-linear-gradient( ... );
    background:      -o-linear-gradient( ... );
    background:         linear-gradient( ... );
	border-color:#999;
	color:#FFF;
	font-size:13px;
	line-height:30px;
	height:30x;
	float:right;
	margin-bottom:5px;
	text-align:center;
	width:135px;
	/*font-family:Cookie;*/
	border-radius:2px;
	border: solid 1px #CCC;
	-webkit-box-shadow: 0 0 5px  #E6E6E6;
       -moz-box-shadow: 0 0 5px  #E6E6E6;
            box-shadow: 0 0 5px  #E6E6E6;
	cursor:pointer;
}
.bouton-com-rep:active
{
	background:none;
	background-color:#68ae28;
	-webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
       -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
            box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
}

/* Registration */
.text-why {
	margin-bottom: 20px;
}

legend {
	font-family: centrale;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.btn-inscription {
	border-radius: 2px;
	background-color: #e37151;
	height: 35px;
	line-height: 35px;
	color: white;
	font-family: centrale;	
    font-size: 20px;
    border: 0;
    padding: 0 20px;
}

.btn-inscription:focus {
	outline: 0;
}

.titre-inscription {
	margin-bottom: -15px;
}

fieldset {
	margin-bottom: 15px;
}

.label-normal {
	line-height: 25px;
}

.pref label {
	margin-bottom: 0;

}

.bouton-questions{
    margin: 20px auto 0 auto ; 
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:15px;
    line-height: 15px;
    margin-bottom:25px;
    text-align:center;
    width:150px;
    height:30px;
    border-radius:2px;
    border: 0;
}

.bouton-reponses{
    margin-left:10px; 
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:15px;
    line-height: 15px;
    margin-bottom:25px;
    text-align:center;
    width:150px;
    height:30px;
    border-radius:2px;
    border: 0;
>>>>>>> motif bouton profil public membre
}