@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
}

.grille-1
{
    width: 20%;
    margin: 3px 2.5% 3px 5%;
    float: left;
    text-align: right;
}

.grille-1 label {
	margin-bottom: 7px;
}

.grille-2
{
    width:40%;
    margin: 3px 30% 3px 2.5%;
    height: 100%;
    float:left;
}
.grille-1.pref
{
    width:50%;
    margin: 3px 3% 3px 5%;
    float:left;
    text-align: left;
    
}
.grille-2.pref
{
    width:40%;
    margin: 3px 1% 3px 1%;
    height:20px;
    float:right;
}

.grille-1-reinitialisation{
    width:35%;
    margin: 3px 2.5% 3px 12.5%;
    float:left;}

.grille-2-reinitialisation
{
    width:35%;
    margin: 3px 12.5% 3px 2.5%;
    height:20px;
    float:right;
}
.info-plus{
    width:16%;
}

.grille-content
{
    padding:15px;
    background-color: #f8f8ef;
    margin-top:10px;
    margin-bottom:5px;
    border-radius:7px;
    -webkit-box-shadow: 0 0 20px  #CCCCCC;
    -moz-box-shadow: 0 0 20px  #CCCCCC;
    box-shadow: 0 0 20px  #CCCCCC;
}

.forminfo
{
    height: 130%;
    line-height: 13px;
    padding-left: 10px;
}

.label-radio
{
    font-weight: normal;
    margin-right: 1.2em;
}

.label-normal
{
    font-weight: normal;
    font-size: 13px;
}

.bouton-bas-block
{
    margin-top: 1em;
}

.premiere-ligne
{
    margin-top: 2em;
}

.infos-date
{
    margin-right: 0.3em;
    height: 26px;   
}

select, input:active {
	outline: 0;
}

.cookie-title
{
    font-family: centrale;
    font-size: 40px;
    margin-bottom: 15px;
}

.description{

    margin:15px auto;
}
.description p {
    font-size: 1.2em;
    text-align: center;
    font-family: centrale;
    

}

.panneau-bas
{
    margin-bottom:20px; 
}

.erreur{
    
    color:red;
    
}
.cadre-general {
	margin: 20px 0;
}

.cleared{
    clear:both;
}

.btn-marge{
    margin:10px;
}

.text-area{
    height: auto;
    
}

.dotation{
    height:auto;
    width:auto;
    
}

.confirmation{

    font-size: 1.1em;
    font-weight: normal;
    font-family: centrale;
}

.bouton-com-rep
{
	background: linear-gradient( to top, #68ae28, #aed664);
	background: -webkit-linear-gradient( ... );
    background:    -moz-linear-gradient( ... ); 
    background:     -ms-linear-gradient( ... );
    background:      -o-linear-gradient( ... );
    background:         linear-gradient( ... );
	border-color:#999;
	color:#FFF;
	font-size:13px;
	line-height:30px;
	height:30x;
	float:right;
	margin-bottom:5px;
	text-align:center;
	width:135px;
	/*font-family:Cookie;*/
	border-radius:2px;
	border: solid 1px #CCC;
	-webkit-box-shadow: 0 0 5px  #E6E6E6;
       -moz-box-shadow: 0 0 5px  #E6E6E6;
            box-shadow: 0 0 5px  #E6E6E6;
	cursor:pointer;
}
.bouton-com-rep:active
{
	background:none;
	background-color:#68ae28;
	-webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
       -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
            box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
}

/* Registration */
.text-why {
	margin-bottom: 20px;
}

legend {
	font-family: centrale;
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.btn-inscription {
	border-radius: 2px;
	background-color: #e37151;
	height: 35px;
	line-height: 35px;
	color: white;
	font-family: centrale;	
    font-size: 20px;
    border: 0;
    padding: 0 20px;
}

.btn-inscription:focus {
	outline: 0;
}

.titre-inscription {
	margin-bottom: -15px;
}

fieldset {
	margin-bottom: 15px;
}

.label-normal {
	line-height: 25px;
}

.pref label {
	margin-bottom: 0;

}

.bouton-questions{
    margin: 20px auto 0 auto ; 
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:15px;
    line-height: 17px;
    margin-bottom:25px;
    text-align:center;
    width: 160px;
    height: 30px;
    border-radius:2px;
    border: 0;
}

.bouton-reponses {
    margin-left:10px; 
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size: 15px;
    line-height: 17px;
    margin-bottom:25px;
    text-align:center;
    width: 160px;
    height:30px;
    border-radius:2px;
    border: 0;
}

.cadre-general {
	padding-bottom: 30px;
}

.textarea-register {
	height: 150px;
	padding: 5px 0;
	max-height: 270px;
}

#fos_user_registration_form_info_plus {
	width: 450px;
	height: 100px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

/* Formulaire de contact */

.bouton-envoyer {
	margin-left:-60px; 
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:15px;
    line-height: 15px;
    margin-top: 5px;
    text-align:center;
    width:150px;
    height:30px;
    border-radius:2px;
    border: 0;
}

.bouton-envoyer:focus {
	outline: 0;
}

.text-message-contact {
	height: 100%;
	max-width: 100%;
	width: 500px;
	margin-right: 0;
}

.contact-form {
	padding-left: 50px;
	margin-top: -15px;
}

.description {
	margin: 0 50px 20px 50px;;
}

.cookie-title {
	line-height: 40px;
	margin-bottom: 25px;
}

.form-textarea {
	padding-left: 10px;
	color: #555;
	font-size: 13px;
	
} 

textarea {
	max-width: 600px;
	max-height: 300px;
}

textarea:focus {
	outline: 0;
}

.form-control {
	font-size: 13px;
	box-shadow: none;
	border-radius: 3px;
}

/* Conditions générales d'utilisation */

.titre-conditions h1 {
	margin-top: 0;
	margin: 0 0 25px 0;
	font-family: centrale;
	text-align: center;
}

.titre-conditions p {
	text-align: left;
	margin: 0 70px;
	font-size: 12px;
}

.articles-conditions {
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 70px;
	margin-bottom: 15px;
}

/* Poser une question */

.ask-question {
	border-radius:2px;
	background-color: #e37151;
	height: 40px;
	width: 250px;
	line-height: 0;
	color: white;
	font-family: centrale;	
    font-size: 20px;
    padding-bottom: 10px;
}

.text-subject {
	height: 30px;
	padding-left: 10px;
	color: #555;
	font-size: 13px;
	padding: 6px 5px 0 10px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 550px;
	resize: none;
}

.text-description {
	height: 90px;
	padding-left: 10px;
	color: #555;
	font-size: 13px;
	padding: 6px 5px 0 10px;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 550px;
	max-width: 550px;
}

.explication-poser-question {
	margin: 0 70px;
}

.explication-poser-question p {
	margin-bottom: 5px;
}

.merci {
	font-size: 1.2em;
	padding-top: 5px;
}

/* Chosen */

.chosen-container-single .chosen-single div b {
	margin-top: 5px;
}

.chosen-container {
	min-width: 190px;
	border: 0;
	margin: 0 2.5px 2.5px 0;
}

.chosen-container-single .chosen-single {
	height: 32px;
	background: #FFF;
	color: #7b7a7a;
	line-height: 32px;
	border: 0;
	padding-left: 10px;
	font-weight: 200;
	font-style: italic;
	box-shadow: none;
	font-family: centrale;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.chosen-container-active .chosen-single {
	border: 1px solid #CCC;

.chosen-single:focus {
	border: 1px solid #CCC;
}

.search-choice-close {
	top: 11px;
}
	
.chosen-with-drop .chosen-container-single .chosen-single {
	color: black;
}

.chosen-container .chosen-results li.highlighted {
  	color: #fff;
	background-color: #7b7a7a;
	background-image: #7b7a7a;
}

.chosen-single abbr {
	margin-top: 10px;
}

/* Profil publique */
