@media (min-width: 1200px){
.menu-mar
{
	margin-bottom:-7px;
}
.menu-pad 
{
	font-size:16px;
	font-weight:bold;
	padding-top:7px;
	padding-left:20px;
}
.logo2
{
	padding-top:25px;
}
.valign-row
{
	display:table;
	
}
.valign-col
{
	float:none;
	display:table-cell;
	vertical-align:middle;
}
.foot-im
{
	padding-bottom:10px;
	padding-top:15px;
	
}

.hid-home
{
	display:none;
}
.cook-foot
{
	font-size:42px;
	display: inline-block;
	margin-right: 10px;
	
}
.connection
{
	height: 100px;
	width: 250px;
	margin-left: -75px;
	margin-top: 20px;
}
}
@media (min-width: 992px)  and (max-width: 1200px) {
  
.menu-mar
{
	margin-bottom:-7px;
}
.menu-pad 
{
	font-size:16px;
	font-weight:bold;
	padding-top:7px;
	padding-left:20px;
}
.logo2
{
	padding-top:25px;
}
.valign-row
{
	display:table;
}
.valign-col
{
	float:none;
	display:table-cell;
	vertical-align:middle;
}
.foot-im
{
	padding-bottom:10px;
	padding-top:15px;
	height:150%;
	
}
.hid-home
{
	display:none;
}
.cook-foot
{
	font-size:36px;
}
.connection
{
	height: 100px;
	width: 300px;
	margin-left: -100px;
	margin-top: 20px;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  
.menu-mar
{
	margin-bottom:-5px; 	
}
.menu-pad 
{
	font-size:14px;
	font-weight:bold;
	padding-top:5px;
}
.logo2
{
	padding-bottom:20px;
}
.foot-im
{
	padding-bottom:10px;
	

	
}

.hid-home
{
	display:none;
}
.cook-foot
{
	font-size:42px;
}
.connection
{
	height: 100px;
	width: 300px;
	margin-left: -120px;
	margin-top: 20px;
}
}

@media screen and (max-width: 768px) {
.menu-pad 
{
	  font-size:12px;
	  font-weight:bold;
	
}
.logo2
{
	padding-bottom:15px;
	z-index:101; 
}
.foot-im
{
	padding-bottom:10px;
	
	
	
}
.menu-pad 
{
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
}
.cook-foot
{
	font-size:42px;
}
.connection
{
	height: 100px;
	width: 500px;
	margin-left: -220px;
	margin-top: 20px;
}
}
.cook-foot
{
	display: inline-block;
	margin-right: 10px;
	
}
.menu-bg
{
	background-color:#2b3a41;
	background-image:url(../img/background-menu.png);
	background-repeat:no-repeat;
	-webkit-box-shadow: 0 5px 20px  black;
       -moz-box-shadow: 0 5px 20px  black;
            box-shadow: 0 5px 20px  black;
	width:100%;
}

	
.bg
{
	background-color:#edebeb;
	box-shadow: 0 0 30px black;
	-webkit-box-shadow: 0 0 30px  black;
       -moz-box-shadow: 0 0 30px  black;
            box-shadow: 0 0 30px  black;
}
.logo
{
	padding-top:15px;
	padding-bottom:15px;
}

.home:hover
{
	background-image:url(../img/logo-index-g.png);
	background-repeat:no-repeat;
	margin-top:12px;
}
.foot-sep
{
	background-image:url(../img/barre-footer.png);
	height:31px;
	-webkit-box-shadow: 0 5px 20px  black;
       -moz-box-shadow: 0 5px 20px  black;
            box-shadow: 0 5px 20px  black;
}
.footer a
{
	display: inline-block;
	color: #666;
	font-size: 14px;
	margin: 0px 5px;
}

.cent-h
{
	float:none;
    margin-left: auto;
    margin-right: auto;
	display: table;
    table-layout: fixed;
}
.red-dot
{
	background-image:url(../img/red-dot.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	z-index:102;
	position:absolute;
	width:18px;
	left:17px; 
    top:-9px;
}

.pos-re
{
	position:relative;
}
.valign-col-all
{
	float:none;
	display:table-cell;
	vertical-align:middle;
}
.pad-l
{
	padding-left:10px;
	
}
.cook-foot
{
	font-family:Cookie;
	color:#2a3940;
}
.cook-head
{
	float:right;
	font-family:Cookie;
	margin-left:10px;
	margin-top:8px;
	margin-bottom:2px;
	font-size:26pt;
}
.connection
{
	position: absolute;
	background-color: #c8cbce;
	border-radius: 5px;
	border: solid 2px #d6dce1;
	z-index: 10000;
	float: left;
	display: none;
	
	
}
.connection-triangle-border
{	position: relative;
    z-index: 10001;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid  #d6dce1;
	margin-top:-17px;
	margin-left: auto;
	margin-right: auto;




}
.connection-triangle
{
	position: relative;
	z-index: 10002;
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 13px solid  #c8cbce;
	margin-top:-13px;
	margin-left: auto;
	margin-right: auto;

	


}
.connection-triangle-content
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


