@font-face {
    font-family: 'Centrale';
    src: url(../fonts/Centrale.eot);
    src: url(../fonts/Centrale.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Centrale.woff) format('woff'),
         url(../fonts/Centrale.ttf) format('truetype'),
         url(../fonts/Centrale.svg#centrale) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family : "neuro";
    src : url(../fonts/neuropol.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/neuropol.ttf);
}

@media (min-width: 1201px){

    .container {
        max-width: 1170px;
    }


    .valign-row
    {
        display:table;

    }
    .valign-col
    {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

    .hid-home
    {
        display:none;
    }

    .connection
    {
        width: 250px;
        margin-left: -60px;
    }

    .nav img {
        margin-top: -3px;
        width: 50%;
        margin-right: -35px;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .container {
        max-width: 970px;
    }    

    .menu-pad 
    {
        font-family: centrale;
        font-size: 14px;
        line-height: 43px;
        margin: 0px 10px -7px 8px;
    }

    .valign-row
    {
        display:table;
    }

    .valign-col
    {
        float:none;
        display:table-cell;
        vertical-align:middle;
    }

    .hid-home
    {
        display:none;
    }

    .connection
    {
        width: 250px;
        margin-left: -60px;
    }

    .nav img {
        margin-top: -3px;
        width: 50%;
        margin-right: -35px;
    }
   
}

@media screen and (min-width: 769px) and (max-width: 992px) {

    .container {
        max-width: 750px;
    }

    .menu-pad 
    {
        font-family: centrale;
        font-size: 13px;
        line-height: 43px;
        margin: 0px 0px -7px 0px;
    }

    .hid-home
    {
        display:none;
    }
    .connection
    {
        width: 250px;
        margin-left: -90px;
    }

    .nav img {
        margin-top: -3px;
        width: 50%;
        margin-right: -35px;
    }

}

@media screen and (max-width: 768px) {

    .container
    {
        min-width:600px;

    }

    .logo2
    {
        z-index:101; 
    }
    
    .logo {
	    display: none;
    }

    .menu-pad
    {
        font-family: centrale;
        font-size: 15px;
        line-height: 43px;
        text-align: center ;
    }

    .menu-pad 
    {
        font-family: centrale;
        font-size:14px;
        padding-top:5px;
    }

    .connection
    {
        width: 500px;
        margin-left: 20px;
    }

    .nav img {
        width: 30px;
        margin-left : 47%;
    }
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

nav.navbar.navbar-inverse.navbar-fixed-top.menu-bg
{
	margin-right:0;
	padding-right:0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #99bbc3;
    padding-bottom: 0;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-inverse {
	border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #2b3a41;
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #2b3a41;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #2b3a41;
}

.dropdown-menu>li>a {
	font-size: 13px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background: #e37151;
}

.text-user {
	font-size: 14px;
	font-family: centrale;
}

.foot-im
{
    padding-bottom:5px;
    padding-top:5px;
    height: 50px;
    margin: 5px 0 3px 0;
}

.menu-bg
{
    background-color:#2b3a41;
    /*	background-repeat: repeat-x;
            width:100%;*/
}

body.bg
{
	margin-right:0;
	padding-right:0;
}

.bg
{
    background-color: #99bbc3;
    background-image: url(../img/noise2.png);
    padding-top: 60px;
    font-size: 13px;


}

.logo
{
    padding-top:5px;
    height: 60px;
    margin-left: 30px;
}

.logo2
{
    text-align: center;

}

.home:hover
{
    background-image:url(../img/logo-index-g.png);
    background-repeat:no-repeat;
    margin-top:12px;
}

.foot-sep
{
    background-color:#2a3940;
    overflow: hidden;
    margin-top: 10px;

}

.footer
{
    text-align: center;
}

.footer a
{
    display: inline-block;
    color: #99bbc3;
    vertical-align: middle;
    margin: 0 5px;
}

.footer p
{
    display: inline-block;
    color: #99bbc3;
    vertical-align: middle;
}

.footer a:hover
{
	text-decoration: none;
	color: white;
}

.copyright {
	font-size: 12px;
	margin-top: 9px;
	margin-left: 5px;
}

.cent-h
{
    float:none;
    margin-left: auto;
    margin-right: auto;
    display: table;
    table-layout: fixed;
}

.red-dot
{
    background-image:url(../img/red-dot.png);
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    z-index:102;
    position:absolute;
    width:18px;
    left:17px; 
    top:15px;
}

.pos-re
{
    position:relative;
    display: inline-block;
    vertical-align: middle;
}
.valign-col-all
{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.pad-l
{
    margin: 10px;	
}

.cook-foot
{
    font-family: centrale;
    color: #99bbc3;
    font-size:26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
}

.cook-head
{
    color: #99bbc3;
    float: right;
    font-family: neuro;
    font-size: 14px;
    font-weight: 500;
    margin-left:10px;
    margin-top:3px;
    margin-bottom:-3px;
    font-size: 20pt;
}

.connection
{
    position: absolute;
    background-color: #c8cbce;
    border-radius: 5px;
    border: solid 2px #d6dce1;
    z-index: 10000000;
    /*margin-top: 5px;*/
    display: none;
}

.connection-triangle-border
{	position: relative;
  z-index: 1000001;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid  #d6dce1;
  margin-top:-17px;
  margin-left: auto;
  margin-right: auto;
}

.connection-triangle
{
    position: relative;
    z-index: 1000002;
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 13px solid  #c8cbce;
    margin-top:-13px;
    margin-left: auto;
    margin-right: auto;
}

.connection-triangle-content
{
    width: 100%;
}

.nav-fixe
{
    z-index: 1000000;
    width: 100%;
    overflow: hidden;
    margin: 0px;

}

.fixee
{	
    position:fixed;
    top:0px;

}

.fixe-cont
{
    height: 55px;
}


.cadre-general{
    box-shadow: 0px 0px 30px #758c92;
    background-color: #f3f0eb;
    overflow: hidden; 
    padding: 30px 30px 0px 30px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.footer-text 
{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 0px;
}

.titre-smartunity .col-md-6
{
	padding-left: 0px;
}

.nav-tabs a
{
    font-family: centrale;
}

.nav-tabs
{
    background-color: #559aa9;
    border-radius: 3px 3px 0 0;
    border-bottom: 0px;
}

.fixed-right-corner
{
    position: absolute;
    top: 15px;
    right: 30px;
    color: #99bbc3;
}

.fixed-right-corner:hover
{
	cursor: pointer;
	color: #fff;
}

#top-barre-recherche
{
    position: absolute;
    z-index: 10000000;
    right: 15px;
    top: 55px;
    width: 300px;
    display: none;
}

.top-barre-recherche-input
{
    background-color: #7b7a7a;
    border-radius: 3px;
    display: block;
    font-weight: 200;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #CCC;
    vertical-align: middle;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
} 

.top-barre-recherche-input:focus
{    
    outline: 0;
    
}

.top-barre-recherche-input:active
{

	outline: 0;
}

.top-barre-recherche-input::-webkit-input-placeholder {
	font-style: italic;
	color: #CCC;
}

.top-barre-recherche-input:-moz-placeholder {
	font-style: italic;
	color: #CCC;
}

.form-control:focus
{   
    border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
} 

.toast{
	position: fixed;
	bottom: 50px;
	left: 50%;
	width: 300px;
	margin-left: -100px;
	border: 1px solid #CCC;
	border-radius: 3px;
	background-color: #7b7a7a;
	color: white;
	padding: 10px 0 ;
	text-align:center;
	opacity: .9;
    z-index: 10000;
	/*The good stuff */
	-webkit-transition: opacity 2s ease-out 2s;  /* Saf3.2+, Chrome */
	-moz-transition: opacity 2s ease-out 2s;  /* FF4+ */
	-ms-transition: opacity 2s ease-out 2s;  /* IE10? */
	-o-transition: opacity 2s ease-out 2s;  /* Opera 10.5+ */
	transition: opacity 2s ease-out 2s;	
}

/////Bloc Listequestions

.tab-ajax > .nav-tabs>li>a:hover {
	background-color: #ffffff;
	color: black;
}

.tab-ajax > .nav>li>a:hover, .nav > li > a:focus {
	background-color: #ffffff;
	color: black;

}

.tab-ajax > .nav-tabs>li>a {
	color: #FFF;
	margin-right: 10px;
	line-height: 2.5;
	border: 1px solid transparent;
	border-radius:0;
}

.tab-ajax > .nav>li>a {
	position: relative;
	display: block;
	padding: 7px 15px;
}

.tab-ajax > .nav-tabs > li.active > a, .tab-ajax > .nav-tabs > li.active > a:hover, .tab-ajax > .nav-tabs > li.active > a:focus {
	color: black;
	cursor: default;
	background-color: #ffffff;
	border-bottom-color: transparent;
	border-top-color: transparent;
}

#accordion-reponses > .panel, #accordion-onFire > .panel, #accordion-last > .panel {
    
    border-radius: 0;
}

#accordion-reponses > .panel > .panel-heading, #accordion-onFire > .panel > .panel-heading, #accordion-last > .panel > .panel-heading {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.tab-ajax > .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    
    border: 1px solid transparent;
}

.bouton-retour{
    
    position:absolute;
    top:25px;
    left:5px;
    cursor: pointer;
    
}

.bouton-repondre:focus
{
	outline: 0;
}

.bouton-repondre
{
	border-radius:2px;
	background-color: #e37151;
	height:25px;
	color: white;
	font-family: centrale;	
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.bouton-valid-modif
{

    margin-top:30px;
}

.grille-content h3 
{
	font-family: centrale;
	margin-top: 0px;
	color: #e37151;
}

#popupQuestion
{
	color: white;
}


.pagination>.active>a
{
	background: #559aa9;
	border: 0;
}

.fleur-active
{
	margin-right: -20px;
}

.fleur-inactive
{
	margin-right: -20px;
}

/* Fenêtre modale log in */

.modal-content
{
	margin-top: 150px;
	margin-left: 90px;
	background: #f3f0eb;
	border-radius: 3px;
	border: 0;
	width: 400px;
}

.modal-header
{
	border-bottom: 0;
	padding-bottom: 0;
	padding-left: 36px;
}

.modal-header .close {
	margin-top: -10px;
	margin-right: -2px;
}

.modal-header .close:focus {
	outline: 0;
}

.modal-header h4
{
	font-family: centrale;
	font-size: 1.5em;
	text-align: center;
	margin-top: 5px;
}

.modal-title
{
	line-height: 1;
}

.modal-body .panel-body
{
	padding-top: 0;
	padding-bottom: 0;
}

.passwd-forgotten a {
	color: #A4A4A4;
}

.passwd-forgotten a:hover {
	text-decoration: none;
	color: #7a7876;
}

.solution-tab {
	margin-left: 10px;
}

.bouton-login:focus {
	outline: 0;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #99bbc3;
	border-bottom-color: #99bbc3;
	margin-left: 5px;
}

.passwd-forgotten {
	margin-top: -4px;
	text-align: right;
	font-style: italic;
	font-size: 12px;
	font-family: centrale;
}

.message-js{

    font-size: 20px;
    font-family: centrale; 
    text-align: center;    
}

.souvenir-de-moi{

    text-align: left;
    font-family: centrale;
    font-size: 13px;
    margin-top: -18px;
    margin-bottom: 150px;
}

.bouton-login {
	position: absolute;
    top: 47%;
    left: 9%;
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:18px;
    text-align:center;
    width: 155px;
    height: 35px;
    border-radius:2px;
    border: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

.bouton-signin {
	position: absolute;
    top: 47%;
    left: 52%;
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:18px;
    text-align:center;
    width: 155px;
    height: 35px;
    border-radius:2px;
    border: 0;
    padding-bottom: 0px;
    padding-top: 0px;
}

.bouton-signin:focus {
	outline:0;
}

.ou-fb {
	position: absolute;
	top: 182px;
	width: 330px;
	margin: 0 auto;
	font-family: centrale;
	font-size: 11px;
}

.bouton-fb-log {
	position: absolute;
	top: 190px;
	left: 32%;
}

.bonne-visite {
	position: absolute;
	top: 237px;
	width: 330px;
	margin: 0 auto;
	font-family: centrale;
	font-size: 20px;
}

.form-group {
	margin-bottom: 10px;
}

/* Page login */

.panel-login{
	width: 80%;
}

.panel-title {
	font-family: centrale;
	font-size: 2em;
	margin-top: 10px;
}

.panel-default>.panel-heading {
	background: none;
	border: 0;
}

.panel-default {
	background: rgba(250, 250, 250, 0.6);
}

.bouton-login-fix {
	position: absolute;
    top: 60%;
    left: 25%;
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:18px;
    text-align:center;
    width: 155px;
    height: 35px;
    border-radius:2px;
    border: 0;
}

.bouton-signin-fix {
	position: absolute;
    top: 60%;
    left: 52%;
    background-color: #e37151;
    color:#FFF;
    font-family: centrale;
    font-size:18px;
    text-align:center;
    width: 155px;
    height: 35px;
    border-radius:2px;
    border: 0;
}

.bouton-signin-fix:focus {
	outline:0;
}

.bouton-login-fix:focus {
	outline:0;
}


.souvenir-de-moi-fix {
    text-align: left;
    font-family: centrale;
    font-size: 13px;
    margin-top: -19px;
    margin-bottom: 80px;
}

#remember_me_fix {
	margin-top: 2px;
}

.mdp-oublie-fix {
	margin-top: 0px;
	margin-left: 310px;
}

.mdp-oublie-fix a {
	text-decoration: none;
	color: #7a7876;
	font-style: italic;
}

.mdp-oublie-fix a:hover {
	color: #7a7876;
	text-decoration: none;
}

.ou-fb-fixed {
	position: absolute;
	top: 242px;
	width: 440px;
	margin: 0 auto;
	font-family: centrale;
	font-size: 11px;
}

.bonne-visite-fixed {
	position: absolute;
	top: 157px;
	width: 330px;
	margin: 0 auto;
	font-family: centrale;
	font-size: 30px;
}

#submit-a-bug {
    position: fixed;
/*    right : 0px;*/
    left: 92%;
    top: 45%;
    -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);

}
@media (max-width: 1000px) { 
#submit-a-bug {
     display:none;
}
}
