.grille-1
{
        width:35%;
        margin: 3px 2.5% 3px 5%;
        /*background-color:#00C;*/
        /*height:20px;*/
        float:left;
}
.grille-2
{
        width:50%;
        margin: 3px 5% 3px 2.5%;
        /*background-color:#3C9;*/
        height:20px;
        float:right;
        
}

.grille-3
{
        width:5%;
        margin: 3px 2.5% 3px 5%;
        /*background-color:#00C;*/
        height:20px;
        float:left;
}
.grille-4
{
        width:42.5%;
        margin: 3px 0% 3px 2.5%;
        /*background-color:#3C9;*/
        height:20px;
        float:left;
}

.grille-1.pref
{
        width:55%;
        margin: 3px 2.5% 3px 5%;
        /*background-color:#00C;*/
        /*height:20px;*/
        float:left;
}
.grille-2.pref
{
        width:30%;
        margin: 3px 5% 3px 2.5%;
        /*background-color:#3C9;*/
        height:20px;
        float:right;
}

.grille-2.radio-pref
{
/*text-align: right;*/        
        
        
}

.grille-content
{
    padding:15px;
    background-color: #ffffff;
    margin-top:30px;
    margin-bottom:30px;
    border-radius:3px;
    border: 1px solid #e8e4dc;
}

.forminfo
{
    height: 100%;
}

.label-radio
{
    font-weight: normal;
    margin-right: 0.5em;
}

.label-normal
{
    font-weight: normal;
    margin-bottom: 0px;
}

.edit{

    position: absolute;
    top:1em;
    right:1em;
}

.posRelative
{
    position:relative;
}

/*.validationInfos
{
    position: relative; 
    top: 10em;
}*/

.bouton-bas-block
{
    margin-top: 2em;
}

.premiere-ligne
{
    margin-top: 2em;
}

.infos-date
{
   margin-right: 0.3em; 
}

.wrapper-avatar {
    position: relative;
    padding: 0;
    width:150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.text-avatar {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    width: 150px;
    height: 150px;
    line-height:150px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text-avatar:hover {
    opacity:1;
}

.img-avatar {
    z-index:1;
}
.erreur {
    
    color:red;
    
}

.bouton-valider {
    
   height: auto;
}

.progress-striped{
    
    margin-top: 15px;
}

.cadre-general
{
	margin: 20px 0 20px 0;
}