@font-face{
    font-family : "centrale";
    src : url(../fonts/Centrale.ttf) format ('truetype');
    /* pour IE */
    src : url(../fonts/Centrale.ttf);
}

.grille-1
{
        width:35%;
        margin: 3px 2.5% 5px 5%;
        float:left;
        padding-top: 3px;
}
.grille-2
{
        width:50%;
        margin: 3px 5% 3px 2.5%;
        /*background-color:#3C9;*/
        height:20px;
        float:right;
        
}

.grille-3
{
        width:5%;
        margin: 3px 0px 3px 5%;
        /*background-color:#00C;*/
        height:20px;
        float:left;
}
.grille-4
{
        width:42.5%;
        margin: 3px 5px 3px 2px;
        /*background-color:#3C9;*/
        height:20px;
        float:left;
}

.lien-activite a
{
	color: black;
	font-weight: bold;
}

.grille-1.pref
{
        width:55%;
        margin: 3px 2.5% 3px 5%;
        /*background-color:#00C;*/
        /*height:20px;*/
        float:left;
}
.grille-2.pref
{
        width:30%;
        margin: 3px 5% 3px 2.5%;
        /*background-color:#3C9;*/
        height:20px;
        float:right;
}

.grille-2.radio-pref
{
/*text-align: right;*/        
        
        
}

.grille-content
{
    padding:15px;
    background-color: #ffffff;
    margin-bottom:30px;
    border-radius:3px;
    border: 1px solid #e8e4dc;
}

.forminfo
{
    height: 100%;
}


.label-radio
{
    font-weight: normal;
    margin-right: 0.5em;
}

.label-normal
{
    font-weight: normal;
    margin-bottom: 0px;
}

.edit{

    position: absolute;
    top:1em;
    right:1em;
}

.posRelative
{
    position:relative;
}

.bouton-bas-block
{
    margin-top: 7px;
}

.bouton-bas-block-parrainage {
	margin-top: 15px;
}

.premiere-ligne
{
    margin-top: 5px;
}

.infos-date
{
   margin-right: 0.3em; 
}

.wrapper-avatar {
    position: relative;
    padding: 0;
    width:150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.text-avatar {
    position: absolute;
    top: 0;
    color:#f00;
    background-color:rgba(255,255,255,0.8);
    width: 150px;
    height: 150px;
    line-height:150px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.text-avatar:hover {
    opacity:1;
}

.img-avatar {
    z-index:1;
    margin-bottom: 10px;
    width: 120px;
    margin-top: 10px;
}

.erreur
{  
    color:red;
}

.bouton-valider {
    
   height: auto;
}

.progress
{
	background: #99bbc3;
	margin-right: 7px;
	margin-left: 7px;
}

.progress-striped
{
    margin-top: 5px;
    height: 25px;
}

.progress-striped .progress-bar
{
    background: #559aa9;
}

.progress p
{
	line-height: 25px;
	font-family: centrale;
}

.cadre-general
{
	margin: 20px 0 20px 0;
}

h1
{
	margin: 0 0 15px 0;
	line-height: 30px;
	font-family: centrale;
}

.btn-sm
{
	background: #e37151;
	border: 0;
	color: white;
	font-family: centrale;

}

.btn-sm:hover
{
	background: #e37151;
	border: 0;
	color: #333;
}

.glyphicon
{
	color: white;
}

.modify
{
	background: transparent;
	border: 0;
	margin: 5px 10px 0 0;
	height: 22px;
	line-height: 22px;
	color: #e37151;	
}

.modify .glyphicon {
	color: #e37151;
}

.modify:hover {
	background-color: transparent;
	color: #333;
}

.modify:active {
	box-shadow: none;
	background-color: transparent;
}

.modify .glyphicon:hover {
	color: #333;
}

.bouton-repondre {
	height: 28px;
	line-height: 12px;
}

.form-control
{
	padding-left: 5px;
	color: black;
	height: 22px;
	font-size: 12px;
}

.form-textarea{

    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 50px;
    /* max-width: 227px; */
    resize: none;
}

.form-textarea:focus {
	outline: 0;
}

.prem-ligne-parrainage {
	margin-bottom: 10px;
	margin-left: 7px;
}

#form_file {
	margin-bottom: 5px;
	width: 300px;
	text-align: center;
}

#form_file:focus {
	outline: 0;
}

.cagnotte {
	float: right;
	position: absolute;
	top: 7%;
	left: 50%;
}

.cagnotte img {
	width: 90%;
}

.nb-pts-cagnotte {
	color: white;
	font-family: centrale;
	font-size: 30px;
	top: 32%;
	left: 37%;
	position: absolute;
}

.pts-cagnotte {
	color: white;
	font-family: centrale;
	font-size: 18px;
	top: 55%;
	left: 40.5%;
	position: absolute;
}