.grille-1
{
	width:80px;
	margin:10px 10px 10px 0;
	float:left;
}
.grille-det
{
	margin-left:110px;
	
}
.grille-det-content
{
	margin-left:140px;
	border-top: solid 1px #CCCCCC;
	clear:both;
	
}
.grille-det1
{
	float:left;
	margin-top:10px;
	margin-right:-150px;
	font-weight:bold;
  	width:130px;

} 
.grille-det2
{
	
  	float:left;
	margin-top:10px;
	margin-left:150px;
	width:auto;

	
} 
.rond-point
{
	background: linear-gradient( to top, #E0E0E0,#FFF);
	border-radius:30px;
	margin-right:auto;
	margin-left:auto;
	width:50px;
	height:50px;
	border: solid 1px #e8e4dc;
	text-align:center;
	line-height:50px;
	font-size: 13px;
	font-weight: 200;
}

.grille-2
{
	float:left;
	margin-top:10px;
	max-width:440px ;
	min-width:380px ;


}
.grille-3
{
	height: 35px;
	padding-top: 8px;
	width:100px;
	float:right;
	margin:10px 0px;
	text-align:center;

	
}
.grille-4
{
	width:100px;
	height: 35px;
	float:right;
	margin:10px 0px;
	text-align:center;
}
.grille-5
{	
	min-height: 35px;
	padding-top: 8px;
	width:100px;
	float:right;
	margin:10px 0px;
	text-align:center;
}

.grille-content
{   
	padding:15px;
	background-color: #f8f8ef;
	margin-top:30px;
	margin-bottom:30px;
	border-radius:3px;
	border: 1px solid #e8e4dc;
}

.grille-content-2
{
	border-radius:3px;
	overflow:hidden;
	margin-bottom:10px;
        margin-top: 20px;
    	/*border: 1px solid #e8e4dc;*/


}

.slider
{

	position:relative;
	height:200px;
	width:100%;
	
}

.bouton-repondre
{
	border-radius:2px;
	background-color: #ff3800;
	height:25px;
	line-height:5px;
	color: white;
	font-family: centrale;	
}

.bouton-repondre:focus
{
	outline: 0;
}
	
.bouton-soutient
{
	background-color:transparent;
	border-color:transparent;
	color:#75c731;
}
.p-s
{
	font-size:38px;
	line-height:20px;
	margin-left:-8px;
	
	
}

.grille-info
{
	
	margin-bottom:30px;
	background-image:url(../img/bouton-2.png);
	background-repeat:repeat-x;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
	vertical-align:middle;
	height:47px;
}
.cook-btn2
{
	font-family:Cookie;
	font-size:32px;
	line-height:47px;
	color:#FFF;
	
}
.panel-default > .panel-heading {
	color: #333333;
	overflow: hidden;
	background-color: #ffffff;
 
  
}
.panel-default > .panel-heading:hover {
	color: #333333;
    background-color: #f3f0eb;

  
}

.panel-default {
	background-color: #daeaed;
	border:0px;
	overflow:hidden;
	border-radius:0px;
	border-bottom: solid 1px #e8e4dc;
	-webkit-box-shadow: 0px -10px 20px -5px rgba(242, 242, 242, 0.2) inset;
          box-shadow: 0px -10px 20px -5px rgba(242, 242, 242, 0.2) inset;
	
	
}
.panel-heading {
  padding: 5px 5px;
}

.panel-group .panel + .panel {
  margin-top: 0px;
}

.cok-recherche {
	font-family:Cookie;
	font-size:56px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.panel-title > a {
  color: inherit;
  
}


/*    RECHERCHE    */

.bouton-com-rep
{
	margin: 0 auto;	
	background-color: red;
	border-color:#999;
	color:#FFF;
	font-family: centrale;
	font-size:22px;
	line-height:44px;
	height:30x;
	margin-bottom:25px;
	text-align:center;
	width:250px;
	border-radius:2px;
}

.bouton-com-rep:active
{
	background:none;
	background-color:#68ae28;
	-webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
       -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
            box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
}

.bouton-com-rep:hover
{
	text-decoration: none;
}

.cookie-title
{
    font-family: 'Cookie', cursive;
    font-size: 3em;
    margin-bottom: 10px;
}

.cadre-general
{
	margin-top: 20px;
	margin-bottom: 25px;
	padding-top: 20px;
}

p
{
	font-size: 13px;
}

.txt-rond
{
	margin-bottom: 0px;
}


///// Modifs des classes bootstrap
.tab-ajax > .nav-tabs>li>a:hover {
background-color: #ffffff;
color: black;
}

.tab-ajax > .nav>li>a:hover, .nav > li > a:focus {
background-color: #ffffff;
color: black;

}

.tab-ajax > .nav-tabs>li>a {
color: #FFF;
margin-right: 10px;
line-height: 2.5;
/*border: 1px solid transparent;*/
border-radius:3px 0 0 0;
}

.tab-ajax > .nav>li>a {
position: relative;
display: block;
padding: 7px 15px;
}

.tab-ajax > .nav-tabs > li.active > a, .tab-ajax > .nav-tabs > li.active > a:hover, .tab-ajax > .nav-tabs > li.active > a:focus {
color: black;
cursor: default;
background-color: #ffffff;
border-bottom-color: transparent;
border-top-color: transparent;
}

#accordion-reponses > .panel, #accordion-onFire > .panel, #accordion-last > .panel {
    
    border-radius: 0;
}

#accordion-reponses > .panel > .panel-heading, #accordion-onFire > .panel > .panel-heading, #accordion-last > .panel > .panel-heading {
border-top-right-radius: 0;
border-top-left-radius: 0;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
}

.tab-ajax > .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    
    border: 1px solid transparent;
}
