
@media (min-width: 1200px){


}
@media (min-width: 992px)  and (max-width: 1200px) {


}
@media screen and (min-width: 768px) and (max-width: 992px) {


}
@media screen and (max-width: 768px){



}
.grille-1
{
	width:80px;
	margin:10px;
	float:left;
}
.grille-det
{
	margin-left:110px;
	
}
.grille-det-content
{
	margin-left:140px;
	border-top: solid 1px #CCCCCC;
	clear:both;
	
}
.grille-det1
{
	float:left;
	margin-top:10px;
	margin-right:-150px;
	font-weight:bold;
  	width:130px;

} 
.grille-det2
{
	
  	float:left;
	margin-top:10px;
	margin-left:150px;
	width:auto;
	
	

	
} 
.rond-point
{
	background: linear-gradient( to top, #E0E0E0,#FFF);
	border-radius:30px;
	margin-right:auto;
	margin-left:auto;
	width:60px;
	height:60px;
	border: solid 1px #999999;
	text-align:center;
	line-height:60px;	
}

.grille-2
{
	float:left;
	margin-top:10px;
	max-width:440px ;
	min-width:380px ;


}
.grille-3
{
	height: 35px;
	padding-top: 8px;
	width:100px;
	float:right;
	margin:10px 0px;
	text-align:center;

	
}
.grille-4
{
	width:100px;
	height: 35px;
	float:right;
	margin:10px 0px;
	text-align:center;
}
.grille-5
{	
	min-height: 35px;
	padding-top: 8px;
	width:100px;
	float:right;
	margin:10px 0px;
	text-align:center;
}

.grille-content
{   
	padding:15px;
	background-color: #f8f8ef;
	margin-top:30px;
	margin-bottom:30px;
	border-radius:5px;
	border:2px solid #d7d5d5;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
}
.grille-content-2
{
	background-color: #f8f8ef;
	border-radius:5px;
	border:2px solid #CCC;
	-webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.2);
       -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.2);
            box-shadow: 0 0 20px  rgba(0,0,0,0.2);
	overflow:hidden;
	margin-bottom:35px;
}


.slider
{

	position:relative;
	height:200px;
	width:100%;
	
}

.bouton-repondre
{
	background: linear-gradient( to top, #bfbfbf,#fbfbfb);
	border-radius:3px;
	border-color: #999;
	border-width:1px;
	background-color: #CCC;
     background: -webkit-linear-gradient( ... );
     background:    -moz-linear-gradient( ... ); 
     background:     -ms-linear-gradient( ... );
     background:      -o-linear-gradient( ... );
     background:         linear-gradient( ... );
	
}
.bouton-soutient
{
	background-color:transparent;
	border-color:transparent;
	color:#75c731;
}
.p-s
{
	font-size:38px;
	line-height:20px;
	margin-left:-8px;
	
	
}

.grille-info
{
	
	margin-bottom:30px;
	background-image:url(../img/bouton-2.png);
	background-repeat:repeat-x;
	-webkit-box-shadow: 0 0 20px  #CCCCCC;
       -moz-box-shadow: 0 0 20px  #CCCCCC;
            box-shadow: 0 0 20px  #CCCCCC;
	vertical-align:middle;
	height:47px;
}
.cook-btn2
{
	font-family:Cookie;
	font-size:32px;
	line-height:47px;
	color:#FFF;
	
}
.panel-default > .panel-heading {
	color: #333333;
	overflow: hidden;
	background-color: #f8f8ef;
 
  
}
.panel-default > .panel-heading:hover {
	color: #333333;
    background-color: #E6E6E6;

  
}

.panel-default {
	background-color: #D8F1F5;
	border:0px;
	overflow:hidden;
	border-radius:0px;
	border-bottom: solid 2px #d3d5d6;
	-webkit-box-shadow: 0px -10px 20px -5px  rgba(0,51,255,0.2) inset;
          box-shadow: 0px -10px 20px -5px  rgba(0,51,255,0.2) inset;
	
	
}
.panel-heading {
  padding: 10px 10px;
}
.panel-group .panel + .panel {
  margin-top: 0px;
}
.panel {

	
}
.collapse-menu {
	background-image:url(../img/tab-acc.png);
	background-repeat:repeat-x;
	background-color:#00557d;
}
.cok-recherche {
	font-family:Cookie;
	font-size:56px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.panel-title > a {
  color: inherit;
  
}


/*    RECHERCHE    */

.bouton-com-rep
{
	background: linear-gradient( to top, #68ae28, #aed664);
	background: -webkit-linear-gradient( ... );
    background:    -moz-linear-gradient( ... ); 
    background:     -ms-linear-gradient( ... );
    background:      -o-linear-gradient( ... );
    background:         linear-gradient( ... );
	border-color:#999;
	color:#FFF;
	font-family:Cookie;
	font-size:35px;
	line-height:40px;
	height:30x;
	margin-bottom:25px;
	text-align:center;
	width:250px;
	font-family:Cookie;
	border-radius:2px;
	border: solid 1px #CCC;
	-webkit-box-shadow: 0 0 5px  #E6E6E6;
       -moz-box-shadow: 0 0 5px  #E6E6E6;
            box-shadow: 0 0 5px  #E6E6E6;
	
}
.bouton-com-rep:active
{
	background:none;
	background-color:#68ae28;
	-webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
       -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
            box-shadow: 0 0 20px  rgba(0,0,0,0.5) inset;
}

.cookie-title
{
    font-family: 'Cookie', cursive;
    font-size: 3em;
    margin-bottom: 10px;
}