@font-face {
    font-family: 'Centrale';
    src: url(../fonts/Centrale.eot);
    src: url(../fonts/Centrale.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Centrale.woff) format('woff'),
         url(../fonts/Centrale.ttf) format('truetype'),
         url(../fonts/Centrale.svg#centrale) format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1200px){

    .grille-2
    {
        width:815px;
        margin:15px 10px;
    }

    .head-blue
    {
        height:35px;
        line-height:35px;
    }
    .grille-1
    {
        width:80px;
        margin: 17px 0px 0px 15px;
    }

    .commentaire
    {
        margin-left:120px;

    }

    .commentaire-input
    {
        width: 540px;
        margin-left: 40px;
    }

    .min{
        margin-bottom: 20px;
        min-height: 0;
    }
}
@media (min-width: 992px)  and (max-width: 1200px) {
    .grille-2
    {
        width:645px;
        margin:15px 10px;
    } 

    .head-blue
    {
        height:35px;
        line-height:35px;
    }
    .grille-1
    {
        width:80px;
        margin:15px 10px;

    }

    .commentaire
    {
        margin-left:100px;
    }

    .commentaire-input{

        width:435px;
    }

    .min{
        min-height: 100px
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .grille-2
    {
        width:565px;
        margin:15px 10px;
    }

    .head-blue
    {
        height:35px;
        line-height:35px;
    }
    .grille-1
    {
        width:80px;
        margin:15px 10px;

    }

    .commentaire
    {
        margin-left:80px;
    }

    .commentaire-input{

        width: 360px;
    }

    .min{
        min-height: 100px
    }
}

@media screen and (max-width: 768px){

    .grille-2
    {
        width:80%;
        margin:15px 2% 15px 1%;
    }

    .grille-1
    {
        width:14%;
        margin:15px 1% 15px 2%;

    }
    .head-blue
    {
        padding-top:7px;
    }
    .grille-3-over
    {
        width:100%;
        overflow:hidden;
    }
    .commentaire
    {
        margin-left:10%;
    }

    .commentaire-input{

        width: 260px;
    }


}

.grille-1
{	
    float:left;	
}

.certif-img {
	width: 50%;
}

.fleche
{
	display: inline-block;
	font-weight:600;
	margin: 0px 5px;
	cursor:pointer;

}

.fleche:hover{
    cursor:pointer;
}


.roww
{
    clear:both;	
}

.rond-point
{
    background: linear-gradient( to top, #E0E0E0,#FFF);
    border-radius:30px;
    margin-right:auto;
    margin-left:auto;
    width:60px;
    height:60px;
    border: solid 1px #999999;
    text-align:center;
    line-height:60px;
}

.grille-2
{
    float:right;
    padding-right: 3px;
}

.grille-3
{
    float:right;
    margin-left:10px;
    margin-bottom:10px;


}

.grille-3-grey
{	
	background-color: rgba(164,164,164, 0.5);
	border-radius: 2px;
	overflow: hidden;
	padding: 10px 29px 10px 10px;
	clear: both;

}

.grille-3-im
{
	float:left;

}

.grille-3-txt
{

    margin-left:10px;
    float:left;
    font-size:11px;
}

.grille-3-rond
{
	margin-left:15px;
	float:left;
	margin-top:5px;

}
.grille-3-btn
{
    clear:both;
    overflow:hidden;
}

.grille-3 p
{
	font-family: centrale;
	color: #505050;
}

.etoile
{
	position: relative;
	display: inline;
	bottom: 3px;
	width: 14px;
}

.grille-3 .reputation
{
	font-weight: 600;
	font-family: tahoma;
	font-size: 1.1em;
}

.grille-3 a
{
	color: #505050;
	font-family: tahoma;
	font-weight: 600;
	font-size: 1.1em;
}

.grille-reponse
{
    overflow:hidden;
    clear:both;
    border-bottom: 1px solid #DDD;
}

.grille-reponse-smart
{
    overflow:hidden;
    clear:both;
    background-color: rgba(137,177,185, 0.3);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.grille-content-2
{    
    margin-bottom: 25px;
	background-color: #f8f8ef;
	border-radius: 3px;
	border:1px solid #e8e4dc;
}

.head-blue
{
	background: #559aa9;
	width:100%;
	overflow:hidden;
	color:#FFF;
	font-family: centrale;
	padding-left:2%;
	padding-right:2%;
	clear:both;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.head-blue a
{

    color:#FFF;
    padding-left:1%;

}

.bouton-soutien
{
    background-color:transparent;
    border-color:transparent;
    color:#75c731;
    outline: 0;
}

.bouton-com-rep
{
	background: #e37151 ;
	color:#FFF;
	font-size:13px;
	line-height:30px;
	height:30px;
	float:right;
	text-align:center;
	width:135px;
	font-family: centrale;
	border-radius:2px;
	cursor:pointer;
	margin-left: 10px;

}
.bouton-com-del
{
    background: #e37151 ;
    color:#FFF;
    font-size:13px;
    line-height:30px;
    height:30px;
    float:right;
    text-align:center;
    width:135px;
    font-family: centrale;
    border-radius:2px;
    cursor:pointer;
    margin-left: 10px;

}
.bouton-validation
{
    background: #e37151 ;
    color:#FFF;
    font-size:13px;
    height:20px;
    width:80px;
    font-family: centrale;
    border-radius:2px;
    cursor:pointer;
    padding: 0em;
}

.bouton-annulation
{
    background: #e37151;
    color:#FFF;
    font-size:13px;
    height:20px;
    width:80px;
    font-family: centrale;
    border-radius:2px;
    cursor:pointer;
    padding: 0em;

}
.bouton-com-rep-input
{
	margin-left: 0px;
	background: #e37151;
	color:#FFF;
	font-size:13px;
	height:30px;
	float:right;
	text-align:center;
	width:135px;
	font-family: centrale;
	border-radius:2px;
	cursor:pointer;
	border:0;
}

.bouton-com-rep-input:focus
{
	outline:0;
}

.bouton-com-rep-input:hover
{
	background: #e37151;
	color: #2b3a41;
}

.bouton-com-rep:hover
{
	background: #e37151;
	color: #2b3a41;
}

.bouton-com-rep:focus
{
	outline: 0;
}

.bouton-com-rep:active
{

	background: #e37151;
	color: #2b3a41;

}

.grille-soutient
{
    text-align:center;
    color:#75c731;
    margin-top:10px;
}

.grille-1-soutenir {
    width : auto;
    color:black;
}

.grille-2-soutenir{
    width : 70px;
    margin-left: 0;
    margin-top: 8px;
}          

.row-soutenir {
    margin-left: 0;
    margin-right:0;
}       

.legend-soutenir{

    margin-bottom: 10px;
    font-size: 16px;
}    

.bouton-soutenir {
	background: #ff3800 ;
	border-color:#999;
	color:#FFF;
	font-size:13px;
	line-height:30px;
	height:30px;
	float:right;
	margin-bottom:5px;
	text-align:center;
	width:135px;
	font-family: centrale;
	border-radius:2px;
	cursor:pointer;
}

.commentaire
{
    border-bottom: solid 1px rgba(164,164,164, 0.7);
    clear: both;
    overflow: hidden;
    margin-bottom: 12px;
    color: #A4A4A4;
    font-style: italic;
    font-size: 90%;
}

.commentaire a
{
	color: #A4A4A4;
	font-weight: 600;
}

.commentaire img {
	width: 50%;
}

.signaler-comment
{
	display: none;
}

span.label-default{
    background-color:#CCCCCC;
    color:#333333;
    font-weight:normal;
    font-style:italic;
}

a.reponse{
    color:#FFF;
}

a.reponse:hover{
    font-style: normal;
}

/**
*
* Magnific Popup
*
**/

.white-popup {
    position: relative;
    top: 25px;
    left: 25px;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.commentaire-input{

    position:relative;
    display:none;
    float: left;
    resize: none;
}

.croix-close{
    color: #CCCCCC;
    position: absolute;
    right:3px;
    top:0px;
    cursor: pointer;

}

.bloc-commenter-repondre{
    width: 90%;
    float: right;
}

#bouton-com-envoyer-question{
    display:none;
}

input
{
	border: 0;
	line-height: 0;
}

#form-commenter-reponse{
    display:none;

}

.bouton-signaler{
    position: absolute;
    bottom: 2px;
    left:4px;
}

.bouton-signaler img {
	width: 50%;
}

.tooltip {
    position: fixed;
}

#addReponseHolder{
    position:fixed;
    display:none;
    width:100%;
    bottom:0px;
    z-index:1000;
    left:0;
}

#DeleteReponseHolder{
    position:fixed;
    display:none;
    width:100%;
    bottom:0px;
    z-index:1000;
    left:0;
}

.cadre-form-reponse{
    box-shadow: 0px 0px 30px #758c92;
    background-color: #f3f0eb;
    /*overflow: hidden;*/
}

textarea.reponse-input {
	height: 150px;
	margin-left: 2.8%;
	margin-right: 2.8%;
	width: 94.4%;
	margin-top: 10px;
    resize: vertical;
}

.row-avec-margin{
    padding: 5px;
}

.row-sans-margin{
    margin-left: 0;
    margin-right: 0;
}

.espace-vide-pour-cadre-repondre{
    height: 200px;
    display: none;
}

.bouton-admin {
    position:absolute;
    left:100px;
    bottom: 2px;
}

.reponse-id {
    position:absolute;
    right:3px;
    bottom: 2px;
}

.fleche p
{

    font-family: centrale;
}

.textevert-petit{


    color:#85c53a;
    font-size:22px;
}

.textevert-moyen{

    color:#85c53a;
    font-size:24px;
}

.textevert-grand{

    color:#85c53a;
    font-size:26px;
}

.texterouge-petit{

    color:#d42434;
    font-size:22px;
}

.texterouge-moyen{

    color:#d42434;
    font-size:24px;
}

.texterouge-grand{

    color:#d42434;
    font-size:26px;
}

.textegris-petit{

    color:#7e7e7e;
    font-size:22px;
}

.textegris-moyen{

    color:#7e7e7e;
    font-size:24px;
}

.textegris-grand{

    color:#7e7e7e;
    font-size:26px;
}

/*.textegris{

    color:#7e7e7e;
}*/
/*.bouton-validation.popover.right{
        background-color: #333;
        width: 200px;   
    }
.bouton-validation.popover.right .arrow::after{
        border-right-color: #333;   
    }
.bouton-validation.popover-content{
        padding: 0.1em 0.3em; 
        color:#fff;
        font-size: 11px;
        font-family: centrale;  
    }*/
.coucou a{
    background-color: #7e7e7e;
    font-size: 12px;
    color:#7e7e7e;
}    

.validation-dialog{
    position: relative;
    background-color: #FFF;
    width:500px;
    border-radius: 5px;
    /*margin:300px auto auto auto;*/
margin: 20% auto;

    }
.validation-body{

    font-family: centrale;
    width:500px;
    padding-top: 0.6em;

}
.validation-body p{
/*
    margin-top: 30px;*/

    
}
.validation-footer{

    height: 30px;

    margin-bottom: 5px ;

}

.questionModifiée {
    font-style: italic;
}

.head-blue .glyphicon:hover {
	color: #333;
}

.send-answer {
	margin-top: 10px;
	margin-bottom : 20px;
}

.glyphicon-share {
	cursor: pointer;
	color: white;
}


.glyphicon-share:hover {
	color: #e37151;
}

.share-button {
	background: none;
	width: 15px;
	padding: 0;
	margin-left: 10px;
}

.share-button:focus {
	outline: 0;
}

.share-button:active {
	box-shadow: none;
}

.glyphicon-edit {
	font-size: 14px;
	top: 3px;
	left: 3px;
}
