.contenu{

	margin: 0 10% 0 10%;
}

.colonneGauche {

	width: 49%;
	float:left;
}

.colonneDroite {

	width: 49%;
	float:right;
}

.panel-heading{

text-align: center;;

}

.avatar {

	float:right;
	width: 64px;
	height: 64px;
	background-color: #0FCAB1;
	border: solid;

}
.blocUtilisateur1{

	  
}

.blocUtilisateur1 .panel-body{

	height: 300px;
}


.blocUtilisateur2{

	  
}

.blocUtilisateur2 .panel-body{

	height: 300px;
}

.blocUtilisateur3{



}

.blocUtilisateur3 .panel-body{

	height: 200px;
}

.blocUtilisateur4{

}

.blocUtilisateur4 .panel-body{

	height: 400px;
}