				</div>
                    </div>
                </div>
        <div class="row">
                    <div class="col-md-offset-1 col-md-10" style="padding:0px">
                      <div class="grille-content-2">
                        <div class="head-blue"><p style="float:left">{{ nbReponses }} {% if reponse.is_certif or reponse.is_validated %}autre{% if nbReponses > 1 %}s{% endif %} {% endif %}r&eacute;ponse{% if nbReponses > 1 %}s{% endif %}</p><p style="float:right">Trier les r&eacute;ponses par : <b>Nombre de votes</b> &#124 Date</p></div>
        					<div id="reponses-container">