<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>pff vlà un bug</title>
    </head>
    <body>
        <h1>Ohhh non !!! Vous avez tout cassé enfin !!</h1>
        <h2>Voici les insultes de la machine : "{{ status_code }} {{ status_text }}".</h2>
        <p> Soit vous avez rentré une mauvaise adresse dans la barre d'url, soit il y a un bug sur notre site :( </p>
        <p> Pour qu'on le corrige au plus vite,vous pouvez cliquer sur le bouton signaler un bug et nous le faire remonte </p>
        <div>
            
        </div>
    </body>
</html>

