*/.DS_Store
/web/bundles/
/web/phpconsole/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/SmartUnity.sublime-project
/SmartUnity.sublime-workspace
/src/SmartUnity/AppBundle/old-Entity
/test
/nbproject
/web/phpconsole/*
web/phpconsole/install.php
web/assets/img/.DS_Store
web/app_dev.php
