/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/SmartUnity.sublime-project
/SmartUnity.sublime-workspace
/src/SmartUnity/AppBundle/old-Entity
/test
/nbproject
src/SmartUnity/UtilisateurBundle/Controller/AjaxController.php -> src/SmartUnity/UtilisateurBundle/Controller/AjaxMembreController.php