*.DS_Store
/web/bundles/
/web/assetic/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/SmartUnity.sublime-project
/SmartUnity.sublime-workspace
/src/SmartUnity/AppBundle/old-Entity
/test
/nbproject
/web/phpconsole/
/web/app_dev.php
/web/app.php
.htaccess
/web/uploads/
.project
/.settings
.buildpath
web/phpconsole/install.php
