{% extends "SmartUnityUtilisateurBundle::layout_profil.html.twig" %}

{% block change_password %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
<a class="active" href="{{ path('fos_user_profile_show') }}">Retour</a>
{% endblock change_password %}
