{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - A propos de Smart'Unity {% endblock %}

{% block stylesheets %}
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/accueil.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->

<div class="row">
  <div class="col-md-8">
<div class="grille-content-2">
  A propos de 
</div>
  </div>
</div>

                


 


  </div>
</div>

{% endblock %}

