{% block recherche %}

    <style>
    .slider
    {
      position:relative;
      height:150px;
      width:100%;
    }

    .bouton-radio.active
    {
      text-shadow: 2px 1px  #FFFFFF;
    }

    
@media (min-width: 1200px){
    .find-slider
    {
        width: 700px;

    }
  }
 @media (min-width: 992px)  and (max-width: 1200px) {
    .find-slider
    {
      
        width: 600px;
    }
  }
@media screen and (min-width: 768px) and (max-width: 992px) {
    .find-slider
    {
        width: 500px;

    }
  }
@media screen and (max-width: 768px) {
    .find-slider
    {
      
        width: 100%;
    }
  }
  .find-slider
    {
      margin-top: 10px;
      padding-right: 35px;

    }
  .find-content
  {
      position:absolute;
      top:100px;
      left:1%;
      width:98%;
  }
  .bouton-radio
{
  background: linear-gradient( to top, #bfbfbf,#fbfbfb);
  border-radius:6px;
  border-color:#333;
  border-width:1px;
  background-color:#898989;
  margin-left:10px;
  margin-right:10px;
  width: 180px;
     background: -webkit-linear-gradient( ... );
     background:    -moz-linear-gradient( ... ); 
     background:     -ms-linear-gradient( ... );
     background:      -o-linear-gradient( ... );
     background:         linear-gradient( ... );

  padding:0px;
height: 40px;
line-height: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.search-btn {
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #7b7a7a;
  border:solid 1px #7b7a7a;
    height: 32px;
    color: #FFF;
    width: 40px;
    outline: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.form-control
{
  background-color: #7b7a7a;
  border-radius: 10px;
  color: #FFF;
  border: 0;
  font-size: 14px;
  font-family: centrale;
}

.form-control:focus
{
  background-color: #7b7a7a;
  border-radius: 10px;
  color: #FFF;
  border: 0;
}

::-webkit-input-placeholder {
    font-size: 14px;
	font-family: centrale;
}

:-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
}
:-ms-input-placeholder {
    font-size: 14px;
}

.cook-btn-demander-repondre
{
  font-family: Cookie;
  font-size: 32px;
}

.question
{
	margin-top: -20px;
}
    </style>
    <div class="row question">
            <div class="col-md-6 col-md-offset-3" >
                      <div class="text-center">
                      <div class="btn-group" data-toggle="buttons" style="margin-top:25px">
                        <label class="btn bouton-radio active" id="sli-de"> <!-- id a jouter -->
                          <input type="radio" name="options" id="option1"><p class="cook-btn-demander-repondre">Demander</p>
                        </label>
                        <label class="btn bouton-radio" id="sli-re"><!-- id a jouter -->
                          <input type="radio" name="options" id="option2"><p class="cook-btn-demander-repondre">Répondre</p>
                        </label>
                      </div>
                      </div>
              </div>
          </div>

    <div class="slider" id="sli1" >
                    <div style="clear:both;">
                        <div style="position:absolute; top:20px; left:20%;width:60%">
                               <div class="cent-h">
                               <img src="{{ asset('assets/img/logo-titre.png') }}" class="valign-col-all" style="margin-right:20px" />
                               <p style="font-family:Cookie; font-size:56px" class="valign-col-all">Smart'Recherche</p>
                               </div>
                        </div>
                        <div class="find-content">
                            <form action="{{ path('smart_unity_question_reponse_search_questions') }}" method="GET">
                            <div spellcheck="false" class="input-group cent-h find-slider">
                              <input type="text" placeholder="Entrez votre question ici..." name="q" id="q" value="{% if requete is defined %}{{requete}}{% endif %}" class="form-control">
                              <input type="hidden" name="p" id="p" value="1" class="form-control">
                              <span class="input-group-btn">
                                <button class="search-btn" type="submit"><span class="glyphicon glyphicon-search" ></span></button>
                              </span>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div style="position:absolute; top:20px; left:103%; width:94%" >
                           <div class="cent-h">
                               <img src="{{ asset('assets/img/logo-titre.png') }}" class="valign-col-all" style="margin-right:20px" />
                               <p style="font-family:Cookie; font-size:56px" class="valign-col-all">Apporte ton soutien</p>
                               </div>
                        </div>
                    </div>
                </div>

                <script>
                  $( "#sli-de" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "0%",
                    }, 600,"swing", function() {
                      // Animation complete.
                    });
                  });
                  $( "#sli-re" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "-100%",
                    }, 600,"swing" , function() {
                      // Animation complete.
                    });
                  });
                </script>

{% endblock %}