{% block recherche %}

    <style>
    .slider
    {
      position:relative;
      width:100%;
    }

    .bouton-radio.active
    {
      text-shadow: 2px 1px  #FFFFFF;
    }

    
@media (min-width: 1200px){
    .find-slider
    {
        width: 700px;

    }
  }
 @media (min-width: 992px)  and (max-width: 1200px) {
    .find-slider
    {
      
        width: 600px;
    }
  }
@media screen and (min-width: 768px) and (max-width: 992px) {
    .find-slider
    {
        width: 500px;

    }
  }
@media screen and (max-width: 768px) {
    .find-slider
    {
      
        width: 100%;
    }
  }
  
  .find-slider
    {
      margin-top: 10px;
      padding-right: 35px;

    }
    
  .find-content
  {
      top:100px;
      left:1%;
      width:98%;
  }
  
.search-btn {
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #7b7a7a;
  border:solid 1px #7b7a7a;
    height: 32px;
    color: #FFF;
    width: 40px;
    outline: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}


.form-control
{
  background-color: #7b7a7a;
  border-radius: 10px;
  color: #FFF;
  border: 0;
  font-size: 14px;
  font-family: centrale;
}

.form-control:focus
{
  background-color: #7b7a7a;
  border-radius: 10px;
  color: #FFF;
  border: 0;
}

::-webkit-input-placeholder {
    font-size: 14px;
	font-family: centrale;
}

:-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
}
:-ms-input-placeholder {
    font-size: 14px;
}

.question
{

}

.switch {
	color: #6f839a;
	cursor: pointer;
	font-family: centrale;
	font-size: 1.8em;
	line-height: 2em;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	display: inline-block;
	background-color: #3e4956;
	-webkit-transition: .15s ease;
	-moz-transition: .15s ease;
	-ms-transition: .15s ease;
	-o-transition: .15s ease;
	transition: .15s ease;
	margin-left: 5px;
	margin-right: 5px;
}

input[type="radio"]:checked + .switch {
	color: #fff;
	padding-left: 1.4em;
	padding-right: 1.4em;
}

input[type="radio"]:checked + .switch--on {
	background-color: #7eab55;
}

input[type="radio"]:checked + .switch--off {
	background-color: #dd4a38;
}
    </style>
    
    <div class="row question">
            <div class="col-md-6 col-md-offset-3" >
                      <div class="text-center">
                      	<p>
                      		<input type="radio" name="s1" id="sOn" value="1" hidden checked>  
					  		<label for="sOn" class="back-col switch switch--on" id="sli-de">Demander</label>
                        
					  		<input type="radio" name="s1" id="sOff" value="0" hidden>
					  		<label for="sOff" class="back-col switch switch--off" id="sli-re">Répondre</label>
                        </p>
                      </div>
            </div>
    </div>

    <div class="slider" id="sli1" >
                    <div style="clear:both;">
                        <div class="find-content">
                            <form action="{{ path('smart_unity_question_reponse_search_questions') }}" method="GET">
                            <div spellcheck="false" class="input-group cent-h find-slider">
                              <input type="text" placeholder="Entrez votre question ici..." name="q" id="q" value="{% if requete is defined %}{{requete}}{% endif %}" class="form-control">
                              <input type="hidden" name="p" id="p" value="1" class="form-control">
                              <span class="input-group-btn">
                                <button class="search-btn" type="submit"><span class="glyphicon glyphicon-search" ></span></button>
                              </span>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div style="clear:both;">
                    </div>
                </div>

                <script>
                  $( "#sli-de" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "0%",
                    }, 600,"swing", function() {
                      // Animation complete.
                    });
                  });
                  $( "#sli-re" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "-100%",
                    }, 600,"swing" , function() {
                      // Animation complete.
                    });
                  });
                </script>
                <script>
                $(document).ready(function() {
    $('.back-colo').each(function () {
    	var col = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
    	$(this).css("background-color", col);
    });
});
                </script>
                <script>
                $(document).ready(function() {
                $('.back-col').each(function () {
				var backCol = new Array; 
				backCol[0] = "#03899c"; 
				backCol[1] = "#FF7A00"; 
				backCol[2] = "#ffffff"; 
				backCol[3] = "#CCC"; 

				ChoixCol = Math.floor(Math.random() * backCol; 
				$(this).css("background-color", ChoixCol); 
}); 
});
                </script>

{% endblock %}