{% block recherche %}

    <style>
    .slider
    {
      position:relative;
      height:200px;
      width:100%;
    }

    .bouton-radio.active
    {
      text-shadow: 2px 1px  #FFFFFF;
    }

    
    @media (min-width: 1200px){
    .find-slider
    {
      position:absolute;
      top:100px;
      left:20%;
      width:60%;

    }
  }
 @media (min-width: 992px)  and (max-width: 1200px) {
    .find-slider
    {
      position:absolute;
      top:100px;
      left:15%;
      width:70%;

    }
  }
@media screen and (min-width: 768px) and (max-width: 992px) {
    .find-slider
    {
      position:absolute;
      top:100px;
      left:5%;
      width:90%;

    }
  }
@media screen and (max-width: 768px) {
    .find-slider
    {
      position:absolute;
      top:100px;
      left:5%;
      width:90%;

    }
  }
    </style>

    <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                      <div class="text-center">
                      <div class="btn-group" data-toggle="buttons" style="margin-top:30px">
                        <label class="btn bouton-radio active" id="sli-de"> <!-- id a jouter -->
                          <input type="radio" name="options" id="option1"><p class="cook-btn">Demander</p>
                        </label>
                        <label class="btn bouton-radio" id="sli-re"><!-- id a jouter -->
                          <input type="radio" name="options" id="option2"><p class="cook-btn">Répondre</p>
                        </label>
                      </div>
                      </div>
              </div>
          </div>

    <div class="slider" id="sli1">
                    <div style="clear:both;">
                        <div style="position:absolute; top:20px; left:20%;width:60%">
                               <div class="cent-h">
                               <img src="{{ asset('assets/img/logo-titre.png') }}" class="valign-col-all" style="margin-right:20px" />
                               <p style="font-family:Cookie; font-size:56px" class="valign-col-all">Smart'Recherche</p>
                               </div>
                        </div>
                        <div class="find-slider">
                            <form action="{{ path('smart_unity_question_reponse_search_questions') }}" method="GET">
                            <div class="input-group" style="margin-top:30px">
                              <input type="text" name="q" id="q" value="{% if requete is defined %}{{requete}}{% endif %}" class="form-control">
                              <input type="hidden" name="p" id="p" value="1" class="form-control">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" ></span></button>
                              </span>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div style="clear:both;">
                        <div style="position:absolute; top:20px; left:103%; width:94%" >
                           <div class="cent-h">
                               <img src="{{ asset('assets/img/logo-titre.png') }}" class="valign-col-all" style="margin-right:20px" />
                               <p style="font-family:Cookie; font-size:56px" class="valign-col-all">Apporte ton soutien</p>
                               </div>
                        </div>
                    </div>
                </div>

                <script>
                  $( "#sli-de" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "0%",
                    }, 600,"swing", function() {
                      // Animation complete.
                    });
                  });
                  $( "#sli-re" ).click(function() {
                    $( "#sli1" ).animate({  
                      marginLeft: "-100%",
                    }, 600,"swing" , function() {
                      // Animation complete.
                    });
                  });
                </script>
{% endblock %}