{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Conditions générales{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/formulaire.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->

<div class="row titre-conditions">
	<h1>Conditions générales d'utilisation de Smart'Unity</h1>
	<p>Le site web communautaire Smart’Unity.fr est un espace destiné à l'échange de connaissances, d'expériences et d'opinions autour des smartphones.<br/>
En vous inscrivant, puis en postant vos questions et réponses sur smartunity.fr, vous acceptez ces conditions générales d'utilisation et l'autorité des administrateurs.<br/>
Les propos tenus n'engagent que vous et ne sauraient représenter l'opinion de smartunity.fr.</p><br/>
	
	<span class="articles-conditions">Article 1 : Modalités d'accès et d'inscription</span>
	<p>Pour poser une question ou pour répondre à une question vous devez vous inscrire.<br/>
	L'inscription consiste à vous choisir un identifiant et à nous fournir une adresse de courrier électronique valide et un mot de passe.<br/> 
	Smartunity.fr se réserve le droit de refuser une inscription, sur la base d'un pseudonyme contraire à la législation française, aux bonnes moeurs ou aux règles élémentaires de politesse. Un autre motif de refus peut-être une tentative de réinscription d'une personne, suite à son bannissement de Smartunity.fr sous son précédent identifiant usuel.</p><br/>
	
	<span class="articles-conditions">Article 2 : Règles à respecter en matière de contributions</span>
	<p>Vous êtes responsable du contenu des messages que vous postez. Nous vous rappelons que les messages que vous postez peuvent être lus par tous librement. Les règles suivantes s'appliquent au texte du message mais également aux images et aux liens hypertextes que vous insérez.<br/>

Vos contributions doivent respecter la législation française, les bonnes moeurs et les règles élémentaires de politesse. D'une manière générale vous devez rester courtois entre vous, faire preuve de respect envers les autres participants, que ce soit sur le fond comme sur la forme de vos messages, en public tout comme lors d'échanges privés. Les messages qui ont pour but de faire de la publicité sont également interdits. Merci de respecter les règles d’orthographe et de grammaire de la langue française. Nos yeux sont sensibles.<br/>

Smart’Unity est divisé en typologies de problématiques. Merci d’éviter les hors sujets et de choisir la section appropriée pour votre question ou réponse. 
De même, le sujet que vous comptez aborder a déjà peut être fait l'objet d'une question il y'a peu. N'hésitez pas à vous servir du moteur de recherche, la réponse se trouve peut-être déjà sur smartunity !
Vos messages sont stockés sur le forum sans limite de temps. Vous pouvez les supprimer ou les modifier en utilisant la fonction «éditer » disponible dans chaque fenêtre de visualisation.</p><br/>

	<span class="articles-conditions">Article 3 : Modérations</span>
	<p>Les contributions que vous postez peuvent être modérés s'ils n'étaient pas conformes aux présentes conditions générales d’utilisation. Le forum est modéré à posteriori, c'est-à-dire après la publication des messages.<br/>
Le rôle des administrateurs de smartunity.fr est de veiller au bon respect des règles des présentes conditions générales d’utilisation qui ont en particulier pour but de faire respecter le droit des tiers et la réglementation française, et bien entendu de veiller au bon déroulement des discussions.<br/>
Le site effectue toutes les opérations nécessaires pour s'assurer de la conformité des messages à la réglementation des contenus et au respect du droit d'autrui. Toutefois si malgré tous les moyens mis en oeuvre vous constatez un message litigieux, vous pouvez prévenir un modérateur grâce au lien «Signaler un contenu abusif», si il est disponible, ou en le contactant via message privé.<br/>
En cas de doute sur la conformité d'un message avec les présentes conditions générales d’utilisations, vous pouvez demander un avis à un administrateur avant de publier un messsage.</p><br/>

	<span class="articles-conditions">Article 4 : Sanctions</span>
	<p>Un post contraire aux CGU pourra être modifié ou supprimé. La modification peut concerner une partie ou la totalité du message. Outre cela, l'utilisateur postant un message contraire aux présentes conditions générales d’utilisations, pourra être banni de la communauté Smart’Unity. 
Toute tentative de nouvelle inscription alors qu'une sanction est en cours pourra entrainer le bannissement définitif.

La communauté du site internet smartunity.fr est un lieu privé ouvert au public sous la responsabilité des administrateurs de smartunity.fr qui en déterminent librement les modalités de fonctionnement et d'utilisation et qui peuvent donc prendre les mesures nécessaires au bon fonctionnement de la communauté. 

Les sanctions ont une durée maximale de 5 ans. Un historique de vos sanctions est conservé durant la même durée. Ce dernier peut être consulté par l'ensemble des administrateurs de Smart’Unity.

En cas de litige, veuillez contactez un administrateur du forum, via un message privé pour une éventuelle médiation. Exemple</p><br/>

	<span class="articles-conditions">Article 5 : Données collectées</span>
	<p>Un p


</div>


                


 


  </div>
</div>

{% endblock %}

