{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Smart'Unity - Conditions générales{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/accueil.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->

<div class="row">
  <div class="col-md-8">
<div class="grille-content-2">
	Conditions générales 
</div>
  </div>
</div>

                


 


  </div>
</div>

{% endblock %}

