{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Comment ça marche ?{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/description.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

        <div class="text-center cookie-title"><h1>Comment ça marche ?</h1></div>
        <div class="contenu-comment">
			<h2 class="title-comment">Le principe de Smart'Unity</h2>
			<p>Smart'Unity est une plateforme communautaire en ligne d'entraide à l'utilisation des smartphones. Que vous recontriez des problèmes avec votre terminal ou que vous puissiez apporter aux autres vos connaissances, Smart'Unity est fait pour vous !<br/>Que ce soit un problème sur le matériel, sur le logiciel, sur les applications installées ou même sur le choix d'un terminal, toutes les questions en rapport avec le monde des smartphones sont acceptées sur Smart'Unity !</p>
			
			<h3 class="title-comment text-center">Les Questions/Réponses, un système qui en vaut la peine.</h3>
			<p>Trouver une information dans la jungle que représente le web est bien souvent une difficulté insurmontable... C'est pourquoi nous avons décidé de mettre en place le système des Questions/Réponses agrémenté d'un système de valorisation sous forme de points (et de cadeaux...).
			
			<h2 class="title-comment">Le fonctionnement de Smart'Unity</h2>
			
				
        </div>
{% endblock %}

