{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Comment ça marche ?{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/description.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->


        <div class="text-center cookie-title"><h1>Comment ça marche ?</h1></div>
        <div class="row contenu-comment">
			<h2 class="title-comment">Le principe de Smart'Unity</h2>
				

        </div>
{% endblock %}

