{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Comment ça marche ?{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/css/description.css') }}"  rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<!-- <p> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Bonjour {{ app.user.username}} 
{% endif %} </p>  -->


        <div class="text-center cookie-title"><h1>Comment ça marche ?</h1></div>
        <div class="row contenu-description">
            
            <div class="span3">
                <ul class="nav">
                    <li><a class="active" href="/fr/comment-ca-marche">Comment ça marche</a></li>
                    <li><a href="/fr/tarifs">Tarifs</a></li>
                    <li><a href="/fr/securite">Sécurité</a></li>
                    <li><a href="http://leetchi.desk.com/" target="_blank">Questions fréquentes</a></li>
                    <li><a href="/fr/Presse">Presse</a></li>
                    <li><a href="/fr/Partenaires">Partenaires</a></li>
                    <li><a href="/fr/nous-contacter">Contactez-nous</a></li>
                </ul>
            </div>
            
            <div class="span9">
                <div class="box howdoesitwork">
                    <h2 class="heading">Leetchi c'est quoi ?</h2>
<div class="content">
    <p><strong>Leetchi.com</strong> est le service idéal pour <strong>collecter et gérer</strong> de l'argent à plusieurs...<br> Pour toutes les occasions ! Anniversaire, pot de départ, EVJF, EVG, mariage, naissances, soirées, voyages et bien d'autres...</p>
    <div class="row-fluid steps">
        <div class="span4">
            <p><strong>1.</strong> Je crée ma cagnotte</p>
        </div>
        <div class="span4">
            <p><strong>2.</strong> J'invite mes amis</p>
        </div>
        <div class="span4">
            <p><strong>3.</strong> Je dépense ma cagnotte</p>
        </div>
    </div>
</div>
<h2 class="heading">Comment ça marche ?</h2>
<div class="content">
    <p><strong>Créez gratuitement</strong> et en quelques clics votre cagnotte sur <strong>Leetchi.com</strong>.<br> <strong>Invitez</strong> vos amis à participer. <strong>Collectez</strong> l'argent des participations en toute sécurité.<br> Lorsque la cagnotte est terminée, <strong>dépensez-la</strong> selon vos envies chez nos partenaires (c'est gratuit !), en demandant un virement ou en l'offrant directement à son destinataire.</p>
    <iframe src="https://www.youtube.com/embed/gu_hsPiUVJg?showinfo=0&amp;theme=light" width="460" height="258" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
</div>
<h2 class="heading">Une cagnotte ça ressemble à quoi ?</h2>
<div class="content">
    <p>Une interface claire et simple qui vous permet en un coup d'oeil d'accéder aux informations de la collecte.</p>
    <img alt="Schéma d'une cagnotte" src="http://www.leetchi.com/Content/Quenette/img/culture/fr/view/staticcontent-howdoesitwork/schema-fundraising.jpg">
</div>
                </div>
            </div>
        </div>
{% endblock %}

