{% extends "SmartUnityAppBundle::layoutLog.html.twig" %}

{% block title %}Boutique cadeaux{% endblock %}

{% block stylesheets %} 
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/boutique.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock%}

{% block body %}
<div class="row sans-marge">
    <div class="title text-center cookie-title">
        Félicitations, vous avec commandé un cadeau
    </div>
    <div class="col-md-12 texte-presentation-boutique">
        <p class="police-text"> Vous vous trouvez dans la caverne d'Alibaba de Smart'Unity. Chaque cadeaux à une valeur en points. 
            Pour commander un cadeaux, vous devez avoir suffisament de points dans votre cagnotte.
        </p>

    </div>
    <div class="bloc-boutons-produit">
        <a href="{{ path('smart_unity_app_homepage')}}">
            <button type="button" class="bouton-choisir-produit">Retour à l'accueil</button>
        </a>
    </div>
{% endblock body %}

