{% block title %}Demande prise en compte{% endblock %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %} 
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/formulaire.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock%}

{% block fos_user_content %}
<div class="row text-center cookie-title">Demande prise en compte !</div>
<div class="row text-center"><br/>
	<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p><br/>
	<h4>Il se peut que le mail se trouve dans votre dossier 'Spam'...<br/>
	Pensez à y jeter un coup d'oeil !</h4>
</div>
{% endblock %}
