{% block title %}Reinitialisation du mot de passe{% endblock %}

{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %} 
<link href="{{ asset('assets/css/formulaire.css') }}" rel="stylesheet" type="text/css">
{%endblock%}

{% block fos_user_content %}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panneau-bas">
            <div class="row text-center cookie-title">
                Réinitialisation de votre mot de passe
            </div>

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div class="erreur">
        {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
                    </div>
                    <div class="grille-1-reinitialisation">
                         <label class="label-normal police-text" for="username" style="width:250px;" >Nom d'utilisateur ou adresse e-mail</label>
                    </div>
                    <div class="grille-2-reinitialisation">
                        <input class="form-control forminfo police-text" type="text" id="username" name="username" required="required" />
                    </div>
                <div class="cent-h bouton-bas-block cleared">
                    <button type="submit" class="btn bouton-envoyer" style="margin-top: 20px;">Valider</button>
                </div> 
            </form>
        </div>
    </div>
</div>   
{% endblock fos_user_content %}