{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}

{% block profil %}
<div class="contenu">
  <div class="colonneGauche">
    <section class="blocUtilisateur1">
     <div class="panel panel-default">
      <div class="panel-heading">Mes informations  <a class="active" href="{{ path('fos_user_profile_edit') }}">editer</a></div>
    </button>
      <div class="panel-body">
       <div class="avatar"></div>
<br>
{% block infos %}     
{% endblock %}
{% block edition %}     
{% endblock %}
{% block change_password %}
{% endblock%}
   </div>
   </div>
 </section>

<section class="blocUtilisateur3">
  <div class="panel panel-default">
    <div class="panel-heading">Mes préférences</div>
    <div class="panel-body">
      Panel content
    </div>
  </section>

</div>

<div class="colonneDroite">

 <section class="blocUtilisateur2">
   <div class="panel panel-default">
    <div class="panel-heading">Ma communauté</div>
    <div class="panel-body">
      Panel content
    </div>
  </section>



  <section class="blocUtilisateur4">
   <div class="panel panel-default">
    <div class="panel-heading">Mon Activité</div>
    <div class="panel-body">
      Panel content
    </div>
  </section>
</div>
</div>
  {% endblock %}
