{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}
{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %} 
<link href="{{ asset('assets/css/formulaire.css') }}" rel="stylesheet" type="text/css">
{%endblock%}

{% block register %}

<div class="row">

    <div class="col-md-offset-2 col-md-8"">
        <div class="grille-content"> 
            <div class="title text-center cookie-title">
                Formulaire envoyé!
            </div>
            <div>
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
