{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}
{#{% extends "FOSUserBundle::layout.html.twig" %}#}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %} 
<link href="{{ asset('assets/css/formulaire.css') }}" rel="stylesheet" type="text/css">
{%endblock%}

{% block register %}

<div class="row">

    <div class="col-md-offset-2 col-md-8">
            <div class="title text-center cookie-title">
                Votre inscription est effectuée !
            </div>
            <div class="text-center text-checkemail">
                <p class="police-text">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p><br/>
                <p class="police-text">Il se peut que ce mail soit redirigé dans votre dossier SPAM...</p>
                <h2 class="police-text"style=" margin-top: 30px; margin-bottom:0;">Merci d'avoir rejoint la communauté Smart'Unity !</h2><br/>
                <h3 class="police-text" style="margin-top:0px; margin-bottom: 20px;">Pour plus de détails sur le fonctionnement du site, rendez-vous sur la page <a style="color: #CCC; text-decoration: none" href="{{ path('smart_unity_app_descriptionpage') }}">Comment ça marche</a> !</h3>
                <img style="width:35%" src="{{asset('assets/img/logo-checkemail.png') }}"></img>
            </div>
        </div>
    </div>
</div>
{% endblock %}
