{% trans_default_domain 'FOSUserBundle' %}
{% extends "SmartUnityUtilisateurBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %} 
{% stylesheets filter='cssrewrite, yui_css'
				 'assets/css/formulaire.css' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}
{%endblock%}

{% block fos_user_content %}
<div class="row">

    <div class="col-md-offset-1 col-md-10">
        <div> 
            <div class="title text-center cookie-title">
                Merci !
            </div>
            <div class="text-center">
                <h3 style="font-family:centrale;">Vous venez de rejoindre la communauté Smart'Unity !</h3><br/>
            </div>

            <div class="text-center">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock fos_user_content %}
